@font-face {
  font-family: 'Audiowide';
  src: url('audiowide/Audiowide-Regular.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  font-family: 'Audiowide', serif;
  /* background-image: url('/background.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#content {
  width: calc(min(80vw, 1000px));
  margin: 0 auto;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
}

#content p {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}

#content-wide {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 50px;
  min-height: 100vh;
}

.image-rounded {
  border-radius: 20px; /* adjust as needed */
  height: 500px;
  object-fit: contain;
  padding: 50px;
}
/* Set the menu links to be in a single column by default */
nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 10vh;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  color: white;
  z-index: 1;
}
@media (min-width: 1001px) {
  nav {
    background-color: black;
  }
}


/* Change the menu links to be in multiple columns on small screens */
@media (max-width: 1000px) {
  nav.default {
    position: fixed;
    top: 0;
    right: 0;
    min-height: 10vh;
    display: flex;
    background-color: black;
    color: white;
    border: 1px solid white;
  }
  nav.expanded {
    position: fixed;
    top: 10vh;
    right: 0px;
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* distribute space between items */
    align-items: center; /* aligns items to center of cross axis */
    z-index: 1;
  }
  nav.expanded .first-item {
    position: fixed;
    top: 0px; /* adjust as needed */
    right: 0px; /* adjust as needed */
    height: 10vh;
    /* width: 60px; */
}
  .menu-link {
    text-align: right;
    margin:10px 0;
    padding: 10px;
  }
  .menu-open {
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid white;
  }
}

nav a {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  font-size: larger;
}
nav button {
  margin: 0 20px;
  text-decoration: none;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: larger;
}


/* Hide the toggle button and menu links by default */
.menu-toggle {
  display: none;
}
.menu-closed {
  display: none;
}

/* Show the toggle button and menu links on small screens */
@media (max-width: 1000px) {
  .menu-toggle {
    display: block;
  }
  .menu-closed {
    display: none;
  }
}

/* Show the menu links and hide the toggle button on large screens */
@media (min-width: 1001px) {
  .menu-toggle {
    display: none;
  }
  .menu-closed {
    display: flex;
  }
}


.chat-container {
  position: absolute;
  top: 100px;
  min-height: calc(100vh - 200px);
  width: calc(min(80vw, 1000px));
  display: flex;
  justify-self: center;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 75px;

}

p {
  font-size: 25px;
}


.message-container {
  height: 80%;
  /* width: 100%; */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-bottom: 50px;
  color: black;
}

.teacher-message {
  background-color: rgb(174, 225, 231);
  right: 0;
  margin-right: 20px;
}

.student-message {
  background-color: rgb(225, 225, 225);
  left: 0;
  margin-left: 20px;
}


.input-container {
  /*Fixed position at the bottom of the screen, centered, same width as chat container, centered children */
  position: fixed;
  bottom: 0px;
  width: calc(min(80vw, 1000px));
  /* border-radius: 10px; */
  min-height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
}


.input-text-area {
  border-radius: 10px;
  width: calc(min(80vw, 1000px));
  padding: 5px;
}
/* 
.chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: calc(100vh - 100px);
  max-width: 1000px;
  margin: 0 auto;
}

.messages-container {
  flex: 1;
  overflow-y: scroll;
  border-radius: 10px;
}
.teacher-message {
  background-color: white;
}

.student-message {
  background-color: grey;
}

.input-container {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
} */

.big-button {
  background-color: 'red';
  padding: 20px 40px;
  color: black;
  font-size: 20px;
  text-align: center;
}

/* button container: shows the button horizontally centered */
.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#starfield {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: black;
  z-index: -1;
}

.star {
  position: absolute;
  background: white;
  width: 4px;
  height: 4px;
  border-radius: 2px;
}